body {
  margin: 0;
}

.container {
  background: #d7dae0;
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.panel {
  display: grid;
  grid-template-rows: 30px auto;
  height: calc(100vh - 30px);
}
.panel-header{
background: lightblue;
}
.panel-body {
  overflow: auto;
background:darkgoldenrod;
}

.panel-body > div {
  height: 300px;
  background: crimson;
  margin: 10px;
}
.main {
  background: #2c313a;
}

.side {
  background: #c5cad3;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
  background: #d7dae0;
}
